@page "/students/details"
@inject IDbContextFactory<PruebaCRUD.Data.MyAppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Detalles del Estudiante</h1>

<hr />

<div>
    @if (student is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Nombres</dt>
            <dd class="col-sm-10">@student.Nombres</dd>
            <dt class="col-sm-2">Apellidos</dt>
            <dd class="col-sm-10">@student.Apellidos</dd>
            <dt class="col-sm-2">FechaNacimiento</dt>
            <dd class="col-sm-10">@student.FechaNacimiento</dd>
            <dt class="col-sm-2">Direccion</dt>
            <dd class="col-sm-10">@student.Direccion</dd>
            <dt class="col-sm-2">Sexo</dt>
            <dd class="col-sm-10">@student.Sexo</dd>
            <dt class="col-sm-2">CURP</dt>
            <dd class="col-sm-10">@student.CURP</dd>
            <dt class="col-sm-2">Telefono</dt>
            <dd class="col-sm-10">@student.Telefono</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@student.Email</dd>
            <dt class="col-sm-2">Carrera</dt>
            <dd class="col-sm-10">@student.Carrera</dd>
            <dt class="col-sm-2">EsBecado</dt>
            <dd class="col-sm-10">@student.EsBecado</dd>
            <dt class="col-sm-2">Modalidad</dt>
            <dd class="col-sm-10">@student.Modalidad</dd>
            <dt class="col-sm-2">Descripcion</dt>
            <dd class="col-sm-10">@student.Descripcion</dd>
            <dt class="col-sm-2">TieneMascotas</dt>
            <dd class="col-sm-10">@student.TieneMascotas</dd>
            <dt class="col-sm-2">Mascotas</dt>
            <dd class="col-sm-10">@student.Mascotas</dd>
            <dt class="col-sm-2">HorarioComida</dt>
            <dd class="col-sm-10">@student.HorarioComida</dd>
        </dl>
        <div>
            <a href="@($"/students/edit?id={student.Id}")" class="btn btn-primary">Editar</a>
            <a href="@($"/students")" class="btn btn-outline-secondary">Volver</a>
        </div>
    }
</div>

@code {
    private Student? student;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        student = await context.Student.FirstOrDefaultAsync(m => m.Id == Id);

        if (student is null)
        {
            NavigationManager.NavigateTo("/students");
        }
    }
}
